@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;800&display=swap');

@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;
*/
/*aspectos__generales*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    padding: 3.1rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

/*header*/

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);

}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    color: #c0ba6c;
    font-weight: 600;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    display: inline;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-right: -2px;
    margin: 5px;
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #6cc091;
}

#check {
    display: none;
}

.hero {
    width: 100%;
    height: 70vh;
    background: url(/recursos/imagen/hero.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.header-text h1 {
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 800;
    line-height: 1;
    /*intelineado */
    color: #fff;
    font-style: oblique;

}

.span-h {
    font-size: 5rem;
}

.header-text p {
    color: #ffffff;
}

/*secciones*/

.global {
    text-align: center;
    margin-top: 3.9rem;
}

.dis-sto .global {
    margin-top: 6.9rem;
}

.dis-so {
    align-items: center;
    /*background: #3bcc75;*/
    display: block;
    text-align: center;
    margin: 3rem;
    font-size: 60px;
    ;
    text-transform: uppercase;

}

.global .circle {
    color: #3bcc75;
    margin: 2.4rem;
}

.hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
    text-transform: uppercase;
}

.res-info {
    text-align: center;
    /*probando*/
    /*padding: 3.1rem 0;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 10%;


}

.resinfo-img {
    width: 50%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.img-borde {
    border-radius: 30px;

}

.res-des {
    margin-bottom: 3rem;
    width: 50%;
}

.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem;

}

/*productos*/
.tk-container {}

.section-titulo {
    text-align: center;
    font-size: 2.5rem;
    color: #393939;
    margin-bottom: .5rem;
    margin-top: 10rem;

}

.tk-grid {
    display: grid;
    gap: 1.5rem;
}

.menu-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.menu-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
    padding: .75rem;
    margin: 3rem 3rem;


}

.menu-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    align-self: center;
    margin-bottom: 1rem;
    border-radius: 50%;
    overflow: hidden;
}

.menu-name {
    font-weight: 600;
    color: #393939;
    font-size: 1.4rem;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
}
/*contactos*/
#personas{
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#personas img{
    max-width: 100%;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
#personas div{
    padding: 30px;
}
#personas div h4{
    color: #4D4D5c;
    font-size: 20px;
    margin: 15px 0px;
}
#personas div p{
    color: #4D4D5c87;
    font-size: 18px;
}
/*horarios*/
.horario-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.horio-img{
    width: 80%;
    border-radius: 30px;
    margin: 20px auto;
    height: 500px;

}
/*borde dinamico
.box::before{
    content: '';
    background:
    repeating-conic-gradient(from var(--a),
        #45f3ff 0%,
        #45f3ff 5%,
        transparent 5%,
        transparent 40%,
        #45f3ff 50%);
    animation:animate 4s linear infinite;
    animation-delay: -1s;
}
.box::after{
    content: '';
    filter: grayscale(100%);
    transition: all 0.5s ease;
    border: 4px solid #2d2d2b;
    color: #ff2770;
    cursor: pointer;
}
.box:hover::after{
    filter: grayscale(0);
}
*/

/*footer*/
footer {
    padding: 7.9rem;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
} 


/*iconos-redes sociales*/
.codetheworld-io a {
    width: 100px;
    height: 100px;
    padding: 30px;
    margin-right: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    color: var(--color);
    font-size: 2em;

}

.codetheworld-io a:hover {
    background: var(--color);
    color: #050801;
    box-shadow: 0 0 5px var(--color),
        0 0 25px var(--color),
        0 0 50px var(--color),
        0 0 200px var(--color);

}


/*fin de redes sociales- o parece que sip*/
/*menu desplegable 0-0*/


/*responsive*/
@media(max-width: 768px) {

    /*header*/
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    
    .menu {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: #4D4D5c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked~.menu {
        right: 0;
    }

    .res-des {
        margin-bottom: 3rem;
        width: 100%;
        order: 2;
    }

    .res-info {
        text-align: center;
        /*probando*/
        /*padding: 3.1rem 0;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 5%;
    }

    .resinfo-img {
        width: 100%;
    }

    .menu-content {
        flex-direction: row;
        margin: 1rem 3rem;

    }
    .menu-container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .menu-name{
        align-items: center;
        margin-left: 2rem;
    }
    #personas{
        flex-direction: column;
    }
    /*hoario*/
    .horio-img{
        height: 300px;
    }

}