*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    background-color: beige;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*cabecera*/
.cabecera{
    background-color: rgb(178, 190, 165);
    width: 90%;
    height: 70px;
    padding: 0 50px;
}

.cabecera_link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: dashed;
    color: #000;
    font-size: 20px;
    font-weight: 900;
}

.cabecera_img{
    object-fit: cover;
    height: 120px;
    margin-right: 10px;/*separa texto de la imagen*/
}

.navegacion{
    background-color:black ;
    width: 90%;
    height: 40px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.navegacion a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 25px 50px;
}
    
.navegacion a:hover{
    color: #000;
    background-color: antiquewhite;
}

.baner{
    background-image:url(../recursos/imagenes/cook2.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 90%;
    height:calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.baner h1{
    font-size: 75px;

}
.baner h2{
    font-size: 50px;
}

.baner a{
    background-color: antiquewhite;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    margin-top: 75px;
    color: #000;
}
.baner a:hover{
    background-color: #caa2a2;
    color: red;
}
/*seccion 2*/

.seccion-2{
    background-color: rgb(210, 219, 136);
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 0;/*(arriba abajo) (iz-de)*/
}
.bloque-iz{
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 5%;

}
.titulo-iz{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo-iz h2{
    font-size: 28px;  
    margin-top: 10%;
    color: #c57979;

}
.titulo-iz h3{
    font-size: 18px; 

}
.img-iz{
    width: 100%;       
    margin: 2% 0;

}
.img-iz img{
    object-fit: cover;/*ingresa dentro del patreo etiqueta principal*/
    border-radius: 30px; 
    width: 100%;

}
.pararfo-iz{
    font-size: 18px;
    text-align: justify;    

}
.bloque-de{
    width:40%;
    height: 100%;    
    border-radius: 30px;
}
.titulo-de{
    text-align: center;
     
}

.titulo-de h3{
    font-size: 20px;
    font-weight:4%;
    font-family:cursive;


}

.platos{
    height: 250px;
    background-color: rgb(233, 221, 221);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 30px 0;

}

.plato-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: aqua;
    width: 50%;
    height: 90%;
    

}
.plato-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;}


.plato-texto{
    
    width: 40%;
    margin: 0% 10px;
    
}

.plato-texto h4{
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
    text-decoration:underline;
}

.texto-derecho{
    text-align:justify;
    font-size: 15px;
    margin-bottom: 15px;
}


/*seccion 3*/
.seccion-3{
    background-color: #69bed3;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.article{

    width: 60%;
    height: 100%;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabla-titulo{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabla-titulo h2{
    font-size: 28px;
    color: #000;
}
.tabla-titulo h3{
    font-size: 28px;
    color: #413b3b;

}

.tabla-div{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 30px 0;
}

.tabla{
    /*table-layout: auto;*/
    padding: 50px; 
    width: auto;
    height: 100%;
    border-radius: 20px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    
}

.fila-encabesado{
    background-color: rgb(88, 165, 233);;
    width: auto;
    height: 40px;
       
    

    
}

.fila-dato{
    width: auto;
    height: 90px;

}
.fila-dato:nth-child(odd){
    background-color: rgb(65, 98, 128);

}
.fila-dato:nth-child(even){
    background-color: rgb(61, 106, 146);;
    
}
.th-bordes{
    border: 1px solid rgb(150, 126, 126);
    text-align: center;
    border-radius: 30px 0;  
    
 
}
.rs-div{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.rs-div h3{
    width: 20%;
}

.rs-img{

    width: 100%;
    height: 40px;
}

.rs-img img{
    object-fit: cover;
    height: 100%;
    margin: 0 10px;
}
.anside{
    width: 40%;
    height: 100%;
}
.mapa{
    width: 100%;
    height: 40%;
}
.mapa iframe{
    width: 98%;
    height: 98%;
    border-radius: 20px;
    margin: 1%;}
.form-div{
    background-color: rgb(91, 61, 121);
    width: 98%;
    height: 59%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    padding: 5px 10px;
    text-align: justify;
    border-radius: 20px;
    margin: 1%;

}
.form-div h3{
    font-size: 20px;
    padding: 5%;
}
.form-div p{
    font-size: 17px;
    padding: 1%;
}

.formulario{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.input{

    width: 100%;
    height: 35px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 20px;
}
.text{

    width: 100%;
    height: 100px;
    margin: 10px 0;
    resize: none;
    font-size: 18px;
    border-radius: 20px;
}
.submit{
    background-color: pink;
    width: 30%;
    height: 35px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 18px;
}
/*seccion 4*/

.seccion-4{
    background-color: #000;
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-footer{
    background-color:black ;
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav-footer a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 25px 50px;
}
    
.nav-footer a:hover{
    color: #000;
    background-color: antiquewhite;
}
.contenedor-s4{
    background-color: red;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.textos-s4{
    color: white;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    
}

.textos-s4 h3{
    text-align: center;

}
.textos-s4 a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-top:6px;    

}

.textos-s4:nth-child(odd){
    background-color: rgb(32, 38, 43);

}
.textos-s4:nth-child(even){
    background-color: rgb(19, 26, 32);;
    
}

.footer{
    margin: 1%;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer a{
    color: white;
    text-decoration: none;
    
}
