/*declarando variables*/
:root{
   --primary-color:#4f4aa6;
   --secundary-color:#48ca95;
   --bg-color:#f7f7f7;
   --light-color:#fff;

   --text-font:Poppins;
   --menu-font:Poppins-bold;
   --header-title-extrabold:Poppins-bold;
}

/*reseteadores */
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: var(--text-font);
}

/*importando fuentes*/
@font-face{
   font-family: Poppins;
   src: url('../recursos/fonts/Poppins-Regular.ttf');
}
@font-face{
   font-family: Poppins-bold;
   src: url('../recursos/fonts/Poppins-Bold.ttf');
}
@font-face{
   font-family: Poppins-extrabold;
   src: url('../recursos/fonts/Poppins-ExtraBold.ttf');
}
header{
   background-image: url('../recursos/images/banner.jpg');/*importa imagen de recursos*/
   background-size: cover;/* ocupa todo el espacio*/
   background-repeat: no-repeat;/*que no se repita*/

   display: flex;
   flex-direction: column;
   min-height: 90vh;

}
nav{
   display: flex;
   justify-content: space-between;/*a la izquierda*/
   align-items: center;
   padding: 20px 30px;
}

nav ul{

   display: flex;
   list-style-type: none;

}
nav ul li{
   padding: 20px;
}
nav ul li a{
   color: var(--light-color);
   text-decoration: none;
   font-family: var(--menu-font);
}
.selected{
   color: var(--secundary-color);
}
nav ul li a:hover{/*cunado pase el mouse se tonara del color elegido*/
   color: var(--secundary-color);
}

.header-content{
   display: flex;
   justify-content: center;
   margin-top: 5%;
   margin-bottom: 50px;

}
.header-content-text{
   max-width: 500px;
   color: var(--light-color);
   display: flex;
   flex-direction: column;
   background-color: #4f4aa6;
   border-radius: 30px;
   padding: 10px;
}
.header-subtitle{
   font-size: 40px;
   text-align: center;
}
.header-title{
   font-size: 80px;
   font-family: var(--header-title-extrabold);
   text-align: center;

}
.header-parrafo{
   text-align: justify;
}
.header-content-btns{
   margin-top: 30px;
   /* resolviendo*/
   display: flex;
   flex-direction: row;
   margin-bottom: 25px;   

}
.btn{
   color: var(--light-color);
   padding: 15px 60px;
   border: 2px solid var(--light-color);
   text-decoration: none;
   margin: 0px 5px;
}
.btn:hover{
   background: var(--secundary-color);
   border: 2px solid var(--secundary-color);
}
.header-img{
   margin:5px 25px ;
}
